.digits {
  padding-top: 100px;
  margin: 0 auto;
}

.section-title {
  margin: 0 auto;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  width: 60%;
}

.section-subtitle{
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
}

.table {
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  margin: 0 auto;
  margin-top: 60px;
  justify-content: space-between;
  row-gap: 60px;
}

.table__cell {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  list-style: none;
  width: 250px;
  margin: 0;
}

.table__heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  row-gap: 20px;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  row-gap: 20px;
}
