@import url(../blocks/rotation.css);

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #F2f2f2;
  position: relative;
  overflow: hidden;
}


.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  width: 154px;
  height: 31px;
  margin: 0;
}

.header__title {
  margin-left: 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 1;
}

.header__description {
  position: absolute;
  width: 388px;
  left: 64px;
  bottom: 30px;
}

.header__subtitle {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.hearder__link {
  text-decoration: none;
  color: #2F80ED;
  margin: 0;
  opacity: 100%;
}

.hearder__link:hover {
  opacity: 50%;
}


.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 756px;
  margin: 0;
}

.header__square-pic {
  position: absolute;
  right: 0;
  top: 64px;
  height: 568px;
  width: 568px;
  background-color: #2F80ED;
  margin: 0;
}

.header__square-pic {
  rotate: -15deg;
}
