.video {
  margin: 0 auto;
  padding-top: 100px;
}

.video__title {
  margin: 0;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.video__subtitle {
  margin: 0;
  padding: 20px 0px 50px;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.video__iframes {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
}

.video__iframe {
  border: 0;
  width: 515px;
  height: 316px;
}
